/* ==========================================================================
   Stone
   ========================================================================== */

/* General
   ========================================================================== */
.stone {
    position: relative;

    display: block;
    width: 100%;
    height: rem-calc(400);
    margin: 0;
    padding: 0;

    overflow: hidden;

    @include media-breakpoint-up(sm) {
        height: rem-calc(650);
    }
}



/* Bg
   ========================================================================== */
.stone__bg {
    position: absolute;
    top: 0;
    left: 50%;

    display: block;
    width: rem-calc(600);
    height: auto;
    margin: 0 auto;

    transform: translateX(-48%);

    @include media-breakpoint-up(sm) {
        width: rem-calc(1000);
    }
}

.stone__head {
    position: absolute;

    display: none;
}

.stone__eye {
    position: absolute;

    display: none;
}

.stone__eye--correct {

}

.stone__eye--wrong {

}



/* Code Input
   ========================================================================== */
.stone__input {

}



/* Code Input
   ========================================================================== */
.stone__code {


    // width: auto;
    // max-width: rem-calc(500);
    // margin: 0 auto;
    // padding: 2vw;
}

.stone__code__btn {
    display: inline-block;
    width: rem-calc(50);
    height: rem-calc(50);
    margin: rem-calc(20);

    background: transparent url('../img/stone/btn.png') 50% 50% no-repeat;
    background-size: rem-calc(50);
    border: 0;

    font-size: rem-calc(20);
    font-family: $font-family--headers;

    &:active, &:focus {
        outline: 0;
    }
}
