/* ==========================================================================
   Stone
   ========================================================================== */

/* General
   ========================================================================== */
.stone {

}



/* Bg
   ========================================================================== */
.stone__bg {

}

.stone__eye {

}

.stone__eye--correct {

}

.stone__eye--wrong {

}



/* Code Input
   ========================================================================== */
.stone__input {

}



/* Code Input
   ========================================================================== */
.stone__code {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    // width: auto;
    // max-width: rem-calc(500);
    // margin: 0 auto;
    // padding: 2vw;
}

.stone__code__btn {
    flex: 1 1 rem-calc(50);

    display: block;
    width: rem-calc(50);
    height: rem-calc(50);
    margin: rem-calc(20);

    background: transparent;
    border: 0;

    font-size: rem-calc(20);
    font-family: $font-family--headers;
}
