/* ==========================================================================
   Stone
   ========================================================================== */

/* General
   ========================================================================== */
.stone {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    width: auto;
    max-width: rem-calc(500);
    margin: 0 auto;
    padding: 2vw;
}


/* Btn
   ========================================================================== */
.stone__btn {
    flex: 1 1 rem-calc(50);

    display: block;
    width: rem-calc(50);
    height: rem-calc(50);
    margin: rem-calc(20);

    background: transparent;
    border: 0;

    font-size: rem-calc(20);
    font-family: $font-family--headers;
}
